<html>
    <head>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
        <title><%=(locals.title) ? title :''%></title>
    
    </head>
    <body>
    	<center>
	        <h2>NodeJS</h2>
				<a class="a-inside link" href="../users"> Listar usuários</a>
				<a class="a-inside link" href="../users/add"> Adicionar usuários</a>

		</center>
    </body>

</html>
